.applications-container {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr 10fr;
}

.applications {
    display: grid;
    grid-gap: 5px;
    grid-row: 2 / 4;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.application {
    border: .5px solid gray;
}

.search {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#search {
    grid-column: 4 / 5;
}

input {
    width: -webkit-fill-available;
}